<!doctype html>
<html>
<head>
  <title>Are you sure ? </title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>

<div class="container">
  <nav class="navbar">
      <ul class="nav-links">
          <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="/chooseCalendar" class="nav-link">Calendar</a>
          </li>
          <li class="nav-item">
              <a href="/share_calendar" class="nav-link">Share</a>
          </li>
      </ul>
      {% if user_info %}
      <span class="nav-link"><u>Logged User: {{ user_info['email'] }}</u></span>
      <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
      {% else %}
        <span class="nav-link"></span>
        <button id="sign-out" class="btn btn-danger" hidden="true">Sign out</button>
      {% endif %}
  </nav>

    <div class="container">
      <form action="/confirm_delete_calendar/{{ calendarId }}" method="post">
        <h4 class="mt-3">This calendar has the events below</h4>
        <table class="table w-75 mt-3 mb-3" style="margin:0 auto;">
          <thead>
            <tr>
              <th scope="col">Calendar</th>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
            {% for event in eventsForCalendar %}
            <tr>
              <td>{{ calendar['name'] }}</td>
              <td>{{ event['name'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <label for="confirm_delete_calendar">The events is going to be deleted. Are you sure to delete this calendar?</label><br>
        <button class="btn btn-danger" type="submit" name="confirm_delete_calendar">Delete</button>
        <a href="#" class="btn btn-success" onclick="window.location.href='{{ url_for ('chooseCalendar') }}'">Back</a>
      </form>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='/bootstrap/js/bootstrap-min.js') }}"></script>

</body>
</html>
